/* Diseno Mobile */

@media screen and (max-width:599px) and (orientation:landscape) {
  .grid {
      grid-template-rows: repeat (3fr, 3fr, 1fr, 1fr, 1fr, 1fr);
  }
  }
  /* Fin de Diseno Mobile */


/* Diseno para Tableta */
@media screen and (min-width: 600px);
{

}
/* Fin de Diseno para Tableta */

/* Diseno para Destokp */
@media screen and (min-width:1200px);{

}
/* Fin de Diseno para Desktop */

.body {
  display: flex;
  height: 780px;
  flex-direction: column;
  padding: 1em;
  margin: 0px;
  font-family: Lora;
}

 /* Inicio Contenido Home Page */

#main {
  display: grid;
  grid-template-columns: 1fr 2fr; 
}

.border {
  border: 01px solid;
  margin: 20px;
  padding: 15px;
  background-color: ghostwhite;

}

/* Fin Contenido Home Page */

/* Inicio de la cabecera de página */
.header {
  display: block;
  background-color: whitesmoke;
  border-bottom: 01px solid silver;
  padding: 15px;
}

.header__titulo {
  background-color: whitesmoke;
  color: black;
  text-align: left;
  font-family: Lora;
  font-style: bold;
}

.header__nav {
  position: fixed;
  right: 40px;
  top: 10px;
  background-color: ghostwhite;
  padding: 03px 03px 03px 03px;
  width: 335px; 
  border: 01px solid silver;
}

.header__nav ul {
  list-style-type: none;
  padding-left: 12px;
}

.header__nav li {
  display: inline-block;
  background-color: whitesmoke;
  border: 01px solid royalblue;
  border-radius: 05px;
  padding: 04px;
  margin: 02px 02px 02px 02px; 
}

.header__nav ul li:hover {
  background-color: azure;
}

.header__nav ul li a{
  color: royalblue;
  text-decoration: none;
  font-size: 12px;
}

.header__nav ul li a:hover {
  font-weight: 600;
}
/* Fin de la cabecera de página */

.subtitulos {
  color: royalblue;
  font-style: normal;
  font-family: Lora;
}

#sub3 {
  padding-left: 20px;
}

#sub4 {
  padding-left: 60px;
}

.subtitulos2 {
  color: royalblue;
  font-weight: 400;
  font-family: Lora;
}

.listas {
  list-style-type: none;
}

p{
  font-family: Lora;
  line-height: 2;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-Regular.ttf");
}

svg {
  margin: 20px 02px 02px 20px;
  color: gray;
  height: 35px;
}

/* Inicio de pie de página */
.footer {
  background-color: gainsboro;
  padding: 10px 05px 05px 05px;
  margin: 0px;
  border-top: 01px solid silver;
}

.footer__title{
  text-align: center;
  font-weight: 300;
}

.lista2 {
  display: flex;
  justify-content: space-around;
  padding: 05px;
  margin: 10px;
}

.lista2 li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.lista2 li a{
  color: cornflowerblue;
  font-family: Lora;
  font-size: small;
  text-decoration: none;
  width: 200px;
  padding: 05px;
}

.lista2 li a:hover {
  color: mediumseagreen;
}
/* Final de pie de página */

.grid {
  display: grid;
  border: 02px solid;
  grid-template-areas: 
  "header header"
  "article aside"
  "footer footer";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr; 
}

div {
  display: block;
  justify-content:flex-start;
}

.grilla {
  display: grid;
  border: 02px solid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 75vh;
}

#business1 {
  text-align: center;
}

#business2 {
  text-align: center;
}

#business3 {
  text-align: center;
}

 /* Inicio Formulario de contacto */

form {
  display: flexbox;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  width: 540px;
}

#formTitle {
  color: rgb(48, 48, 48);
  padding-left: 20px;
}

label {
  padding-left: 20px;
}

select {
  margin-left: 20px;
  background-color: aliceblue;
  border-radius: 05px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 05px 05px;
  width: 450px;
}

textarea {
  margin-left: 20px;
  background-color: aliceblue;
  border-radius: 05px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 450px;
  height: 150px;
}

input {
  background-color: aliceblue;
  border-radius: 05px solid rgb(193, 193, 193);
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 450px;
  margin-left: 20px;
}

#parte1 {
  font-family: Lora;
  background-color: whitesmoke;
  padding-bottom: 20px;
  border: 02px solid rgb(110, 212, 110);
  border-radius: 05px
}

#parte2 {
  font-family: Lora;
  background-color: whitesmoke;
  padding-bottom: 20px;
  border: 02px solid rgb(110, 212, 110);
  border-radius: 05px
}

#cta2 {
  background-color: gray;
  border-radius: 05px;
  color: whitesmoke;
  padding: 02px;
  width: 100px;
  height: 50px;
}

#cta2:hover {
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
}

#cta1 {
  background-color: azure;
  padding: 02px;
  border-radius: 05px;
  width: 100px;
  height: 50px;
}

#cta1:hover {
  background-color: royalblue;
}

/* Fin de Formulario de contacto */

/* Inicio de Tabla Servicios */

.bodyser {
  display:grid;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
}

#sub5 {
  padding-left: 60px;
}

table {
  margin: 40px;
  width: 95%;
  height: 300px;
  font-family: Lora;
}

tr{
  background-color: whitesmoke;
}

tr:nth-child(even) {background-color: t}

th{
  border: 02px solid whitesmoke;
  background-color: rgb(110, 212, 110);
}

td{
  border: 02px solid whitesmoke;
}

/* Fin de Tabla Servicios */


/* Inicio de Sección Nosotros */

#noscont {
  padding: 10px;
}

#heroimage {
  opacity: 0.75;
}

#description {
  background-color: rgb(218, 218, 218);
  padding: 40px;
  margin-bottom: 10px;
  text-align: center;
}
/* Fin de Sección Nosotros */
