.primario {
    @extend %botonPpal;
    background-color: teal;
    color: white;
}

.secundario {
    @extend %botonPpal;
    background-color: cadetblue;
    color: white;
}

.button {
    @include botones($bgcolor: cadetblue, $textColor: lightgreen, $bordeColor: brown)
}

