.primario {
    @extend %botonPpal;
    background-color: teal;
    color: white;
}

.secundario {
    @extend %botonPpal;
    background-color: cadetblue;
    color: white;
}

.base {
    @extend %botonPpal;
}