.primario {
    @extend %botonPpal;
    background-color: teal;
    color: white;
}

.secundario {
    @extend %botonPpal;
    background-color: cadetblue;
    color: white;
}

.base {
    @include buttons($bgColor: whitesmoke, $textColor: cornflowerblue, $borderColor: cornflowerblue, $radius:true);
    &:hover{
        @include buttons($bgColor: cornflowerblue, $textColor: whitesmoke, $borderColor: powderblue, $radius:true);
        font-weight: 500;
    }
}

