$background: ghostwhite;
$background1: whitesmoke;
$background2: gainsboro;

$fontColor1: black; 
$fontColor2: cornflowerblue; 

$hoverColor1: mediumseagreen;
$hoverColor2: royalblue;
$hoverColor3: skyblue;