$background: ghostwhite;
$background1: rgb(129, 189, 88);
$background2: rgb(25, 32, 24);
$background3: rgb(232, 234, 222);

$fontColor1: black; 
$fontColor2: rgb(25, 32, 24);

$hoverColor1: rgb(232, 234, 222);
$hoverColor2: rgb(128, 183, 228);