.divBlock {
    height: 400px;
    display: grid;
    grid-row: 2;
    grid-column: 1;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.prueba {
    @include flex($justify: space-evenly, $align:center, $height:405px, $width:1024px, $wrap: true);
    border: 02px solid powderblue;
    background-color: lightblue;
    padding: 40px;
    div {
        @include flex($justify: space-around, $align:center, $height:300px, $width:350px);
        border: none;
        padding: 25px;
    }
}

.heroStatement {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(35, 35, 35);
    font-size: xx-large;
    padding-left: 20px;
}