$mainFont: Syne;
$secondFont: Verdana, Geneva, Tahoma, sans-serif;
$thirdFont: Manrope;

.subtitulos {
    color: rgb(72, 72, 72);
    font-size: medium;
    font-style: normal;
    font-family: Syne;
    font-weight: 200;
    font-size: large;
    text-align: center;
  }
  
  .subtitulos2 {
    color: royalblue;
    font-size: medium;
    font-weight: 400;
    font-family: Syne;
    font-weight: 200;
    font-size: large;
    padding: 30px 0px 0px 0px;
  }


/* Texto - Inicio de Tabla Servicios */

#sub5 {
    text-align: left;
    padding-left: 30px;
    margin: 40px 05px 05px 05px;
    font-size: x-large;
    vertical-align: auto;
    font-weight: 300;
    font-family: Syne;
  }

/* Texto - Fin de Tabla Servicios */

  #sub3 {
    margin-top: 40px;
    font-size: x-large;
  }

  #sub5 {
    margin-top: 40px;
    font-size: x-large;
  }

  #sub6 {
    margin-top: 40px;
    font-size: x-large;
  }

  p{
    margin-top: 40px;
    font-size: large;
  }

  @font-face {
    font-family: Syne;
    src: url("../fonts/Syne-Medium.ttf");
  }