.logoCont {
    width: 120px;
    text-align: center;
    vertical-align: middle;
    #logo {
        width: 120px;
        }
}

ul {
    text-decoration: none;
    font-size: 16px;
    font-family: Syne;
    li {
        a &:hover {
            background-color: mediumseagreen;
            color: aliceblue;
        }
    }
}

@media screen and (min-width: 600px) {
    
    .logoCont {
        width: 120px;
        text-align: center;
        vertical-align: middle;
    }
}