.logoCont {
  width: 120px;
  text-align: center;
  vertical-align: middle;
}
.logoCont #logo {
  width: 120px;
}

ul {
  text-decoration: none;
  font-size: 16px;
  font-family: Lora;
}
a ul li:hover {
  background-color: mediumseagreen;
  color: aliceblue;
}

@media screen and (min-width: 600px) {
  .logoCont {
    width: 120px;
    text-align: center;
    vertical-align: middle;
  }
}
#bottonBar {
  background-color: gainsboro;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 1px 1px 1px 1px;
  margin: 0px;
  border-top: 1px solid silver;
  /* margin-top: auto */
}

.footer__title {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  font-size: medium;
  font-family: Lora;
}

.lista2 {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}
.lista2 li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
a .lista2 li:hover {
  color: cornflowerblue;
  font-family: Lora;
  font-size: small;
  text-decoration: none;
  width: 200px;
  padding: 5px;
  color: mediumseagreen;
}

#main {
  display: grid;
  grid-template-rows: 25% 75%;
  row-gap: 30px;
  margin: 40px;
  padding-bottom: 100px;
}

.border {
  border: 3px solid ghostwhite;
  background-color: ghostwhite;
  padding: 20px;
  font-family: Lora;
}
.border:hover {
  opacity: 0.85;
  border: 3px solid cornflowerblue;
}

.subtitulos {
  color: royalblue;
  font-size: medium;
  font-style: normal;
  font-family: Lora;
  font-weight: 200;
  font-size: large;
  text-align: center;
}

.subtitulos2 {
  color: royalblue;
  font-size: medium;
  font-weight: 400;
  font-family: Lora;
  font-weight: 200;
  font-size: large;
  padding: 30px 0px 0px 0px;
}

.nosotros {
  display: grid;
  grid-template-rows: 0.25fr 1.5fr 0.25fr;
}

.noscont {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.25fr;
  grid-row-gap: 10px;
}

#heroimage {
  opacity: 0.75;
  width: 800px;
  text-align: center;
}

.img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#description {
  background-color: ghostwhite;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  vertical-align: center;
  text-align: center;
  font-family: Lora;
  font-size: small;
  line-height: 2;
}

#description:hover {
  background-color: lightblue;
  color: rgb(35, 35, 35);
}

#main {
  display: grid;
  grid-template-rows: 25% 75%;
  row-gap: 30px;
  margin: 40px;
}

.border {
  border: 3px solid ghostwhite;
  background-color: ghostwhite;
  padding: 20px;
  font-family: Lora;
}

#article1:hover {
  background-color: skyblue;
  color: rgb(35, 35, 35);
  transform: scale(1.05);
}

#aside1:hover {
  background-color: thistle;
  color: rgb(35, 35, 35);
  transform: scale(1.05);
}

#sub3 {
  margin-top: 40px;
  font-size: x-large;
}

#sub5 {
  margin-top: 40px;
  font-size: x-large;
}

#sub6 {
  margin-top: 40px;
  font-size: x-large;
}

p {
  margin-top: 40px;
  font-size: large;
}

.figure-caption {
  font-size: large;
  padding: 15px;
}

.navbar-nav {
  text-decoration: none;
  font-size: 16px;
  font-family: Lora;
}
.nav-link .navbar-nav nav-item:hover {
  background-color: mediumseagreen;
  color: aliceblue;
}

.divBlock {
  height: 400px;
  display: grid;
  grid-row: 2;
  grid-column: 1;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.prueba {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 405px;
  width: 1024px;
  flex-wrap: wrap;
  border: 2px solid powderblue;
  background-color: lightblue;
  padding: 40px;
}
.prueba div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 350px;
  flex-wrap: nowrap;
  border: none;
  padding: 25px;
}

.heroStatement {
  font-family: Lora;
  color: rgb(35, 35, 35);
  font-size: xx-large;
  padding-left: 20px;
}

/* Inicio de Tabla Servicios */
#tablemobile {
  overflow-x: auto;
  padding: 30px;
  margin-bottom: 100px;
  font-size: medium;
  font-family: Lora;
  text-align: center;
}

.bodyser {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

#sub5 {
  text-align: left;
  padding-left: 30px;
  margin: 40px 5px 5px 5px;
  font-size: x-large;
  vertical-align: auto;
  font-weight: 300;
}

#imgERP {
  opacity: 0.75;
  text-align: center;
}

table {
  margin: 10px;
  width: 95%;
  height: 800px;
  font-family: Lora;
}

tr {
  background-color: whitesmoke;
  width: auto;
  padding: 5px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

tr:nth-child(even) {
  background-color: t;
}

th {
  border: 2px solid whitesmoke;
  background-color: rgb(110, 212, 110);
  width: auto;
  padding: 5px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

td {
  border: 2px solid whitesmoke;
  width: auto;
  padding: 5px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

/* Fin de Tabla Servicios */
.primario {
  background-color: teal;
  color: white;
}

.secundario {
  background-color: cadetblue;
  color: white;
}

.base {
  border: none;
  padding: 10px;
  background-color: whitesmoke;
  color: cornflowerblue;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid cornflowerblue;
  position: absolute;
  top: 345px;
  left: 1150px;
  cursor: pointer;
  border-radius: 5px;
}
.base:hover {
  border: none;
  padding: 10px;
  background-color: cornflowerblue;
  color: whitesmoke;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid powderblue;
  position: absolute;
  top: 345px;
  left: 1150px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.primario, .secundario {
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid;
  cursor: pointer;
}

/* Inicio Formulario de contacto */
#contForm {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flexbox;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  width: 500px;
}

#sub4 {
  padding-top: 35px;
  font-size: x-large;
}

.btn {
  position: relative;
  left: 210px;
}

#formTitle {
  color: rgb(48, 48, 48);
  padding-left: 20px;
}

label {
  padding-left: 20px;
}

select {
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 5px 5px;
  width: 250px;
}

textarea {
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 250px;
  height: 150px;
}

input {
  background-color: whitesmoke;
  border-radius: 5px solid rgb(193, 193, 193);
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 250px;
  margin-left: 20px;
}

#parte1 {
  font-family: Lora;
  background-color: ghostwhite;
  padding-bottom: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}

#cta2 {
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  color: black;
  padding: 2px;
  margin-top: 10px;
  width: 100px;
  height: 50px;
}

#cta2:hover {
  background-color: gray;
  color: whitesmoke;
}

#cta1 {
  background-color: azure;
  border: 1px solid royalblue;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}

#cta1:hover {
  background-color: royalblue;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secondcontainer {
  flex: 1 1 150px; /*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
}

.row {
  padding: 20px;
}

/* Fin de Formulario de contacto *//*# sourceMappingURL=styles.css.map */