/* Diseno Mobile */

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0.25fr 0.20fr 1.80fr 0.25fr;
}

/* Inicio de la cabecera de página */
.header {
  display: block;
  background-color: whitesmoke;
  border-bottom: 01px solid silver;
  padding: 15px;
  height: 80px;
}

.navbar-brand {
  color: black;
  text-align: left;
  font-family: Lora;
  padding-left: 25px;
  font-size: x-large;
}

.header__nav {
  display: none;
  position: fixed;
  right: 35px;
  top: 20px;
  background-color: ghostwhite;
  padding: 03px 03px 03px 03px;
  width: 335px; 
  border: 01px solid silver;
}

.header__nav ul {
  list-style-type: none;
  padding-left: 12px;
}

.header__nav li {
  display: inline-block;
  background-color: whitesmoke;
  border: 01px solid royalblue;
  border-radius: 05px;
  padding: 04px;
  margin: 02px 02px 02px 02px; 
}

.header__nav ul li:hover {
  background-color: azure;
}

.navbar-nav {
  color: royalblue;
  text-decoration: none;
  font-size: 16px;
  font-family: Lora;
}

.navbar-nav:hover {
  background-color: steelblue;
}

.gridGeneral {
  display: grid;
  grid-template-rows: 8% 82% 8%;
}

/* Fin de la cabecera de página */

#main {
  display: grid;
  grid-template-rows: 25% 75%; 
  row-gap: 30px;
  margin: 40px;
}

.border {
  border: 03px solid ghostwhite;
  background-color: ghostwhite;
  padding: 20px;
  font-family: Lora;
}

.border:hover {
  opacity: 0.85;
  border: 03px solid cornflowerblue ;
}

svg {
  display: none;
}

.subtitulos {
  color: royalblue;
  font-size: medium;
  font-style: normal;
  font-family: Lora;
  font-weight: 200;
  font-size: larger;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.subtitulos2 {
  color: royalblue;
  font-size: medium;
  font-weight: 400;
  font-family: Lora;
  font-weight: 200;
}

#sub4 {
  text-align: left;
  padding-left: 30px;
  margin: 40px 05px 05px 05px;
  font-size: x-large;
  vertical-align: auto;
  font-weight: 300;
}

.p{
  font-size: small;
}

 /* Inicio de pie de página */

 .container2  {
  display: grid;
  place-items: center;
 }

 #bottonBar {
  background-color: gainsboro;
  height: 100px;
  width: 100%;
  padding: 01px 01px 01px 01px;
  margin: 0px;
  border-top: 01px solid silver;
  /* margin-top: auto */;
}

.footer__title{
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  font-size: medium;
  font-family: Lora;
}

.lista2 {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.lista2 li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.lista2 li a{
  color: cornflowerblue;
  font-family: Lora;
  font-size: small;
  text-decoration: none;
  width: 200px;
  padding: 05px;
}

.lista2 li a:hover {
  color: mediumseagreen;
}

#article1:hover {
  background-color: skyblue;
  color: rgb(35, 35, 35);
  transform:scale(1.05)
}

#aside1:hover {
  background-color: thistle;
  color: rgb(35, 35, 35);
  transform:scale(1.05)
}

/* Final de pie de página */ 

/* Inicio Formulario de contacto */
  
form {
  display: flexbox;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  width: 320px;
}

#formTitle {
  color: rgb(48, 48, 48);
  padding-left: 20px;
}

label {
  padding-left: 20px;
}

select {
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 05px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 05px 05px;
  width: 250px;
}

textarea {
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 05px;
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 250px;
  height: 150px;
}

input {
  background-color: whitesmoke;
  border-radius: 05px solid rgb(193, 193, 193);
  font-style: oblique;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 250px;
  margin-left: 20px;
}

#parte1 {
  font-family: Lora;
  background-color: ghostwhite;
  padding-bottom: 20px;
  border: 02px solid cornflowerblue;
  border-radius: 05px
}

#cta2 {
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 05px;
  color: black;
  padding: 02px;
  margin-top: 10px;
  width: 100px;
  height: 50px;
}

#cta2:hover {
  background-color: gray;
  color: whitesmoke;
}

#cta1 {
  background-color: azure;
  border: 1px solid royalblue;
  padding: 02px;
  margin-top: 10px;
  border-radius: 05px;
  width: 100px;
  height: 50px;
}

#cta1:hover {
  background-color: royalblue;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.secondcontainer {
  flex: 1 1 150px; /*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px
}

/* Fin de Formulario de contacto */

 /* Inicio de Tabla Servicios */
  
 .bodyser {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

#sub5 {
  text-align: left;
  padding-left: 30px;
  margin: 40px 05px 05px 05px;
  font-size: x-large;
  vertical-align: auto;
  font-weight: 300;
}

#imgERP {
  opacity: 0.75;
}

#tablemobile {
  overflow-x: auto;
}

table {
  margin: 10px;
  width: 95%;
  height: 800px;
  font-family: Lora;
}

tr{
  background-color: whitesmoke;
  width: auto;
  padding: 05px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

tr:nth-child(even) {background-color: t}

th{
  border: 02px solid whitesmoke;
  background-color: rgb(110, 212, 110);
  width: auto;
  padding: 05px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

td{
  border: 02px solid whitesmoke;
  width: auto;
  padding: 05px;
  margin: 10px;
  font-family: Lora;
  font-weight: 100;
}

/* Fin de Tabla Servicios */

 /* Inicio de Sección Nosotros */

.nosotros {
  display: grid;
  grid-template-rows: 0.25fr 1.50fr 0.25fr;
}

.noscont {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-row-gap: 10px;
}

#description:hover {
  background-color:lightblue;
  color: rgb(35, 35, 35);
}

#heroimage {
  opacity: 0.75;
}

#description {
  background-color: ghostwhite;
  padding: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Lora;
  font-size: small;
  line-height: 2.0;
}
/* Fin de Sección Nosotros */

.grilla {
  display: grid;
  grid-template-rows: 0.25fr 1.50fr 0.25fr;
  height: 75vh;
}

.bodyContact {
  display: grid;
  grid-template-rows: 0.25fr 1.85fr 0.25fr;
  height: 100vh;
}

/* Fin de Diseno Mobile */




/* Diseno para Tableta */
@media screen and (min-width: 600px) {

  /* Inicio de la cabecera de página */
  .header {
    display: block;
    background-color: whitesmoke;
    border-bottom: 01px solid silver;
    padding: 15px;
    height: 80px;
  }
  
  .navbar-brand {
    color: black;
    text-align: left;
    font-family: Lora;
    padding-left: 25px;
    font-size: x-large;
  }
  
  .header__nav {
    display: flex;
    position: fixed;
    right: 35px;
    top: 20px;
    background-color: ghostwhite;
    padding: 03px 03px 03px 03px;
    width: 335px; 
    border: 01px solid silver;
  }
  
  .header__nav ul {
    list-style-type: none;
    padding-left: 12px;
  }
  
  .header__nav li {
    display: inline-block;
    background-color: whitesmoke;
    border: 01px solid royalblue;
    border-radius: 05px;
    padding: 04px;
    margin: 02px 02px 02px 02px; 
  }
  
  .header__nav ul li:hover {
    background-color: azure;
  }
  
  .navbar-nav {
    color: royalblue;
    text-decoration: none;
    font-size: 16px;
    font-family: Lora;
  }
  
  .navbar-nav:hover {
    background-color: steelblue;
  }

  /* Fin de la cabecera de página */

  .gridGeneral {
    display: grid;
    grid-template-rows: 8% 82% 8%;
  }

  #main {
    display: grid;
    grid-template-rows: 25% 75%; 
    row-gap: 30px;
    margin: 40px;
  }

  .border {
    border: 03px solid ghostwhite;
    background-color: ghostwhite;
    padding: 20px;
  }

  svg {
    display: none;
  }

  .subtitulos {
    color: royalblue;
    font-style: normal;
    font-family: Lora;
    font-size: large;
    text-align: center;
    padding-top: 10px;
  }

   /* Inicio de pie de página */

   .container2  {
    display: grid;
    place-items: center;
   }

   .footer {
    background-color: gainsboro;
    height: 80px;
    padding: 01px 01px 01px 01px;
    margin: 0px;
    border-top: 01px solid silver;
  }
  
  .footer__title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    font-size: medium;
    font-family: Lora;
  }
  
  .lista2 {
    display: flex;
    justify-content: space-around;
    padding: 05px;
    margin: 05px;
  }
  
  .lista2 li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  
  .lista2 li a{
    color: cornflowerblue;
    font-family: Lora;
    font-size: small;
    text-decoration: none;
    width: 200px;
    padding: 05px;
  }
  
  .lista2 li a:hover {
    color: mediumseagreen;
  }
  /* Final de pie de página */ 

  /* Inicio Formulario de contacto */
  
  form {
    display: flexbox;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 400px;
  }

  select {
    width: 350px;
  }
  
  textarea {
    width: 350px;
  }
  
  input {
    width: 350px;
  }

  .maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .secondcontainer {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px
  }

  #sub4 {
    text-align: center;
    vertical-align: middle;
    font-family: Lora;
    font-weight: 400;
    font-size: x-large;
    padding-left: 0px;
    padding-top: 0px;
  }

  /* Fin de Formulario de contacto */


  /* Inicio de Tabla de servicios */
  
  #imgERP {
    opacity: 0.75;
  }

  #equipoERP {
    width: 400px;
  }

  #tablemobile {
    overflow-x: auto;
    height: 600px;
  }

  #sub5 {
    text-align: left;
    padding-left: 30px;
    margin: 15px 05px 05px 05px;
    font-size: x-large;
    font-weight: 300;
  }

  tr{
    font-family: Lora;
    font-weight: 100;
  }
  
  tr:nth-child(even) {background-color: t}
  
  th{
    font-family: Lora;
    font-weight: 100;
  }
  
  td{
  
    font-family: Lora;
    font-weight: 100;
  }
  /* Fin de Tabla de servicios */

  /* Inicio de Sección Nosotros */

  .nosotros {
    display: grid;
    grid-template-rows: 0.25fr 1.50fr 0.25fr;
  }
  
  .noscont {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-row-gap: 10px;
    padding: 10px;
    margin: 10px;
  }
  
  #heroimage {
    opacity: 0.75;
    width: 600px
  }
  
  #description {
    background-color: ghostwhite;
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lora;
    font-size: small;
    line-height: 2.0;
  }

  /* Fin de Sección Nosotros */
  
  .border:hover {
    opacity: 0.85;
    border: 03px solid cornflowerblue;
  }

}
/* Fin de Diseno para Tableta */




/* Diseno para Destokp */
@media screen and (min-width:1200px) {

  .body {
    display: flex;
    height: 780px;
    flex-direction: column;
    padding: 1em;
    margin: 0px;
    font-family: Lora;
  }

   /* Inicio Contenido Home Page */
  
  #main {
    display: grid;
    grid-template-columns: 1fr 2fr; 
  }
  
  .border {
    border: 01px solid ghostwhite;
    margin: 20px;
    padding: 15px;
    background-color: ghostwhite;
  }
  
  /* Fin Contenido Home Page */
  
  /* Inicio de la cabecera de página */
  .header {
    display: block;
    background-color: whitesmoke;
    border-bottom: 01px solid silver;
    padding: 15px;
  }
  
  .navbar-brand {
    color: black;
    text-align: left;
    font-family: Lora;
    padding-left: 25px;
    font-size: x-large;
  }
  
  .header__nav {
    display: flex;
    position: fixed;
    right: 40px;
    top: 10px;
    background-color: ghostwhite;
    padding: 03px 03px 03px 03px;
    width: 335px; 
    border: 01px solid silver;
  }
  
  .header__nav ul {
    list-style-type: none;
    padding-left: 12px;
  }
  
  .header__nav li {
    display: inline-block;
    background-color: whitesmoke;
    border: 01px solid royalblue;
    border-radius: 05px;
    padding: 04px;
    margin: 02px 02px 02px 02px; 
  }
  
  .header__nav ul li:hover {
    background-color: azure;
  }
  
  .header__nav ul li a{
    color: royalblue;
    text-decoration: none;
    font-size: 12px;
  }
  
  .navbar-nav {
    color: royalblue;
    text-decoration: none;
    font-size: 16px;
    font-family: Lora;
  }
  
  .navbar-nav:hover {
    background-color: steelblue;
  }
  
  /* Fin de la cabecera de página */
  
  .subtitulos {
    color: royalblue;
    font-style: normal;
    font-family: Lora;
    font-size: x-large;
    padding: 0px;
    text-align: left;
  }
  
  #sub3 {
    padding-left: 20px;
  }
  
  #sub4 {
    text-align: center;
    font-size: xx-large;
    padding-left: 0px;
  }
  
  .subtitulos2 {
    color: royalblue;
    font-weight: 400;
    font-family: Lora;
  }
  
  .listas {
    list-style-type: none;
  }
  
  p{
    font-family: Lora;
    line-height: 2;
  }
  
  @font-face {
    font-family: Lora;
    src: url("../fonts/Lora-Regular.ttf");
  }
  
  svg {
    margin: 20px 02px 02px 20px;
    color: gray;
    height: 35px;
  }
  
  /* Inicio de pie de página */

  #contForm {
    display: grid;
    place-items: center;
  }

  .footer {
    background-color: gainsboro;
    height: 100px;
    width: 1280px;
    padding: 0px;
    margin: 10px;
    border-top: 01px solid silver;

  }
  
  .footer__title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    font-size: medium;
    font-family: Lora;
  }
  
  .lista2 {
    display: flex;
    justify-content: space-around;
    padding: 05px;
    margin: 10px;
  }
  
  .lista2 li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  
  .lista2 li a{
    color: cornflowerblue;
    font-family: Lora;
    font-size: small;
    text-decoration: none;
    width: 200px;
    padding: 05px;
  }
  
  .lista2 li a:hover {
    color: mediumseagreen;
  }
  /* Final de pie de página */
  
  .grid {
    display: grid;
    border: 02px solid;
    grid-template-areas: 
    "header header"
    "article aside"
    "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr; 
  }
  
  div {
    display: block;
    justify-content:flex-start;
  }
  
  #grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 75vh;
  }
  
  #business1 {
    text-align: center;
    background-color: white;
    border: rgb(218, 218, 218);
  }
  
  #business2 {
    text-align: center;
    background-color: white;
    border: rgb(218, 218, 218);
  }
  
  #business3 {
    text-align: center;
    background-color: white;
    border: rgb(218, 218, 218);
  }
  
   /* Inicio Formulario de contacto */

  form {
    display: flexbox;
    flex-direction: column;
    padding: 05px;
    margin: 05px 0px 40px 0px;
    width: 540px;
  }

  select {
    margin-left: 20px;
    background-color: whitesmoke;
    border-radius: 05px;
    font-style: oblique;
    box-sizing: border-box;
    padding: 05px 05px;
    width: 450px;
  }
  
  textarea {
    margin-left: 20px;
    background-color: whitesmoke;
    border-radius: 05px;
    font-style: oblique;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 450px;
    height: 150px;
  }
  
  input {
    background-color: whitesmoke;
    border-radius: 05px solid rgb(193, 193, 193);
    font-style: oblique;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 450px;
    margin-left: 20px;
  }

  .maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .secondcontainer {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px
  }

  /* Fin de Formulario de contacto */
  
  /* Inicio de Tabla Servicios */
  
  .bodyser {
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
  }
  
  #sub5 {
    padding-left: 60px;
  }

  #imgERP {
    opacity: 0.75;
    }

  #equipoERP {
    width: 600px;
  }
  
  table {
    margin: 40px;
    width: 95%;
    height: 500px;
    font-family: Lora;
  }
  
  tr{
    background-color: whitesmoke;
  }
  
  tr:nth-child(even) {background-color: t}
  
  th{
    border: 02px solid whitesmoke;
    background-color: rgb(110, 212, 110);
  }
  
  td{
    border: 02px solid whitesmoke;
  }
  
  /* Fin de Tabla Servicios */
  

  /* Inicio de Sección Nosotros */

  #sub6 {
    padding-left: 50px;
  }

  .nosotros {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.25fr;
  }

  .noscont {
    display: grid;
    grid-template-columns: 0.25fr 1.25fr;
    grid-column-gap: 10px;
    padding: 10px;
    margin: 30px;
  }
  
  #heroimage {
    opacity: 0.75;
    width: 550px;
  }
  
  #description {
    background-color: ghostwhite;
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Lora;
    font-size: small;
    line-height: 2.0;
  }
  
  /* Fin de Sección Nosotros */

  .border:hover {
    opacity: 0.85;
    border: 03px solid cornflowerblue;
  }



}
/* Fin de Diseno para Desktop */

